@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}

:root{
    --btn-color: rgb(248, 68, 100);

}
body{
    width: 100vw;
    height: 100vh;
    position: relative;

}

.navbar{
    width: 100vw;
    height: 10vh;
    background-color: rgb(51, 53, 69);  
    display: flex;
    align-items: center;
    justify-content: space-around;

}

/* rem, em , px, %, vw, vh */

.logo img {
    width: 110px;
    margin: 0 10px 0 ;
    
}

.searchbar{
    
    width: 35vw;
    background-color: white;
    border-radius: 3px;
    height: 5vh;
    overflow: hidden;   
    /* over-flow: hidden as the input takes 100% width of the search div thus to hide unnessary overlap*/
    
}

.container-1{
    display: flex;
    align-items: center;
}



.searchtab{
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: black;
    font-size: 1rem;
}

.searchtab:placeholder-shown{
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position:  left 5px center  ;
    text-indent: 20px;
}

.searchtab:not(:placeholder-shown){
    background-image: none;
}


.signin{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color:  var(--btn-color);
    color: white;
    border: none;
}

.menuicon i {
    font-size: 1.5rem;
    color: white;
    margin: 0 30px 0;


}
    /* modal */
.modal{
    /* 
    display: none; */
    width: 350px;
    height: 450px;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;    
    /* there should be atmost nessearry to make the background color white while using modal */

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.modal h1{
    text-align: center;
    position: absolute;
    top: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px;
}


.signin_options{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    margin: 20px 20px;
    padding: 25px;
       
}

.signin_options_btn{
width: 300px;
height: 38px;
box-sizing: border-box;
padding: 5px 0px 0;
text-align: center;
border:  1px solid black;
margin:  7px 10px;
font-family: inherit;
font-weight: 400;
border-radius: 5px;
border-width: 1px solid black;

}

.signin_options_btn:hover{
background-color:rgb(242, 242, 242);
color: black;
border: none;
cursor: pointer;
}

.signin_btn_icons{
display: flex;
align-items: center;
justify-content: center;
width: 1rem;
float: left;
text-align: center;
position: relative;
left: 20px;
top: 5px;

}

.cross{
position: absolute;
right: 20px;
top: 10px;
}
.or{
text-align: center;
font-size: 17px;
display: block;
color:rgb(107, 107, 107)
}

.alternative{
/* border: 1px solid black; */
padding: 50px 20px ;
    margin: 40px;
        position: absolute;
top: 45%;
display: grid;
grid-template-columns: 30px 20px 1fr;
justify-content: center;
align-items: center;
}

.phone_icon img{
width: 1rem;
}
.country_code label{
font-size: 14px;
font-family: 'Open Sans', sans-serif;
position: relative;
right: 10px;
top: -3px;
}

.phone input{
width: 200px;
border-width: 0px 0px 1px;
border-color: rgb(218, 218, 218);
font-size: 14px;
text-align: left;
letter-spacing: 0px;
color: #323A47;
padding-bottom: 5px;
outline: none;

}

.terms{
position: absolute;
bottom: 5px;
font-size: 13px;
color: rgb(107, 107, 107);;
}
.terms span{
text-decoration: underline;
}

.signup_btn{
width: 300px;
background-color: var(--btn-color);
color: white;
border: none;
height: 40px;
text-align: center;
border-radius: 8px;
font-size: 16px;
padding-top: 10px;
box-sizing: border-box;
display: none;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: rgba(0, 0, 0, 0.5); 
     z-index: 5;
}

.hidden{
    display: none;
}